.vs/slnx.sqlite

.vs/website/CopilotIndices/18.3.511.5503/CodeChunks.db
.vs/website/CopilotIndices/18.3.511.5503/SemanticSymbols.db
.vs/website.slnx/FileContentIndex/9e84b41e-8bd8-4b83-b65e-3310cd6cc503.vsidx
.vs/website.slnx/FileContentIndex/744bc40c-0a6e-4768-99b0-e3a6f98e8057.vsidx
.vs/website.slnx/v18/.wsuo
.vs/website.slnx/v18/DocumentLayout.backup.json
assets/images/dirtree.txt
.vs/website.slnx/v18/.wsuo
